@use './inheritance.scss' as *;
@use './variables.scss' as *;
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#questions-and-answers__section,
#public-question__section,
#about-us__section,
#graduate__section,
#how-it-works__section {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.arrow-container>svg,
.plus-icon {
    height: 1rem;
}

ol {
    padding-right: 1em;
}

p {
    margin: 1em 0;
}

.firms-container {
    @extend %flex-center;
    flex-wrap: wrap;
}

.firm-logo {
    width: 5.5rem;
    margin: 22px;
}

///////////@at-root
.banner {
    span {
        display: block;
    }
}

.sub-banner {
    padding: 0.5rem;
}

.section-content {
    margin: auto;
    max-width: 100%;
    width: $break-point__big;
    padding: 0 3rem 1.5rem 3rem;
}

.section-content * {
    box-sizing: border-box;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media screen and (max-width: $break-point__tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;
    }
}

#how-it-works__section {
    padding-bottom: 3.8rem;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        div {
            padding: 2rem;
        }
        label {
            @media screen and (min-width: $break-point__tablet) {
                padding-right: 3rem;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem;
            li {
                list-style: none;
            }
        }
        svg {
            display: none;
        }
        .category-inner {
            max-height: 1000px;
        }
    }
    .category-block {
        position: relative;
    }
    .category-block::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 3rem solid transparent;
        border-top: 0;
        z-index: 5;
    }
    .category-block:first-of-type::after {
        border-bottom: 3rem solid $blue-green;
        transform: rotate(-90deg);
        left: -3.3rem;
        top: 3rem;
    }
    .category-block:nth-of-type(2)::after {
        border-bottom: 3rem solid #39a4dc;
        transform: rotate(180deg);
        left: 2rem;
        bottom: -1.8rem;
    }
    .category-block:last-of-type::after {
        border-bottom: 3rem solid #0066ff;
        transform: rotate(90deg);
        right: -3.3rem;
        top: 3rem;
    }
    @media screen and (max-width:$break-point__tablet) {
        .section-content {
            padding: 0 1.5rem 1.5rem 1.5rem;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            .category-block::after {
                display: none;
            }
            .category-block {
                padding: 0.5rem;
                .category-inner {
                    padding: 0;
                    max-height: 0;
                }
            }
            svg {
                display: block;
                width: 0.75rem;
                aspect-ratio: 1;
                transition: transform 0.5s linear;
            }
            input:checked~svg {
                transform: rotate(45deg);
            }
            label:has(input:checked)+.category-inner {
                max-height: 1000px;
            }
        }
    }
}

#pros__section {
    .pro-card {
        padding: 2rem 1rem;
        transition: transform .5s linear, box-shadow .5s;
    }
    @media screen and (min-width: $break-point__tablet) {
        .pro-card:hover {
            box-shadow: 0 0 50px -7px rgba(0, 0, 0, 0.8);
            transform: scale(110%);
        }
    }
    @media screen and (max-width: $break-point__tablet) {
        .section-content {
            padding: 0 1rem 1.5rem 1rem;
        }
    }
}

form {
    input.error--red::placeholder {
        color: red;
    }
    input::placeholder {
        color: black;
    }
    .privacy-container {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
    button#submit-career,
    #submit-footer {
        display: block;
        text-align: center;
        font-weight: 600;
        white-space: nowrap;
    }
    #submit-footer {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    * {
        border-radius: 1px;
    }
    .form-input {
        height: 3.8rem;
        width: auto;
        min-width: 13rem;
        background-color: $white;
        color: #373737;
        font-weight: bold;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 0.2rem 3fr;
        input {
            border: none;
            width: 100%;
            height: 100%;
            float: left;
            box-sizing: border-box;
            padding-right: 0.5rem;
        }
        input:focus {
            outline: none;
        }
        label {
            padding: 0.4em 0.5em;
            white-space: nowrap;
        }
        .input-separator {
            width: 100%;
            border-radius: 3px;
            height: $font-size_20;
            background: $blue;
        }
    }
    .form-block__agree {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
    }
}

#career__section {
    box-shadow: inset 0 -10px 40px rgba(0, 0, 0, 0.2);
    padding-bottom: 3rem;
    .section-content {
        padding: 0 1rem 1.5rem 1rem;
    }
    @media screen and (max-width: $break-point__tablet) {
        box-shadow: none;
    }
    @media screen and (max-width: $break-point__mobile) {
        .section-content {
            padding: 0;
        }
    }
    .career-content {
        form {
            margin-top: 6.75rem;
            display: grid;
            place-items: center;
            max-width: 100%;
            .form-content {
                box-sizing: border-box;
                width: 17rem;
                margin: 2rem;
                margin-top: 0;
                .form-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 1.75rem;
                    padding: 2rem 0.5rem;
                }
            }
            .form-block__agree {
                input {
                    position: relative;
                    right: -1rem;
                    top: -0.5em;
                }
            }
            #submit-career {
                width: 100%;
            }
        }
        h1 {
            padding: 1.5rem 0;
        }
        display: grid;
        grid-template-columns: 2fr 0.9fr;
        .courses-container {
            // @extend %flex-start;
            // flex: 1 1 0px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr;
            .course-container {
                text-decoration: none;
                color: $black;
                height: 10rem;
                @extend %flex-start;
                flex-direction: column;
                .course-name {
                    word-wrap: normal;
                    text-align: center;
                    line-height: 1rem;
                }
                .arrow-container {
                    display: none;
                }
            }
            .course-separetor {
                width: 2.5rem;
                height: 4px;
                margin: 0.3em;
                border-radius: 4px;
                background-color: black;
            }
            #cyber-data .course-separetor {
                background: #81D7B4;
            }
            #net-securety-data-cloud-manegment .course-separetor {
                background: #A3B6CC;
            }
            #digital-marketing .course-separetor {
                background: #3A5998;
            }
            #QA .course-separetor {
                background: #316CFF;
            }
            #grhapic-ui-ux .course-separetor {
                background: #F9CF58;
            }
            #mobile-dev .course-separetor {
                background: #8E8E93;
            }
            #server-linux-manegment .course-separetor {
                background-color: #475F8E;
            }
        }
        .course-container:hover {
            opacity: 0.8;
        }
        @media screen and (min-width: $break-point__tablet) {
            .courses-container {
                max-width: 40rem;
            }
        }
        @media screen and (max-width: $break-point__tablet) {
            display: block;
            form {
                display: none;
            }
        }
        .course-explanation-block {
            width: fit-content;
            @media screen and (max-width: $break-point__tablet) {
                width: 100%;
                .courses-container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 1rem;
                    .course-container {
                        width: 9rem;
                    }
                    .course-container:nth-of-type(3) {
                        * {
                            margin-right: -1rem;
                        }
                    }
                }
            }
            @media screen and (max-width: $break-point__mobile) {
                .courses-container {
                    flex-direction: column;
                    gap: 0.25rem;
                    .course-container {
                        width: 100%;
                        // display: grid;
                        // grid-template-columns: 3.5rem 0.5rem minmax(auto, max-content) 1rem;
                        flex-direction: row;
                        justify-content: space-between;
                        border: 1px solid rgba( #000000, .2);
                        height: fit-content;
                        .course-name {
                            flex: 1;
                            text-align: right;
                        }
                    }
                    .arrow-container {
                        display: block;
                        svg {
                            height: 0.75rem;
                        }
                    }
                    img {
                        height: 2.5rem;
                    }
                    .course-separetor {
                        transform: rotate(90deg);
                        height: 0.3rem;
                        margin: 0;
                    }
                }
                .course-container:nth-of-type(3) {
                    * {
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}

footer {
    padding-bottom: 1rem;
    @media screen and (max-width: $break-point__tablet) {
        padding-bottom: 60px;
    }
    .section-content {
        padding-top: 1rem;
    }
    form {
        .form-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1.75rem;
            margin-top: 2.5rem;
            @media screen and (max-width: $break-point__tablet) {
                align-items: stretch;
                flex-direction: column;
            }
            .form-inputs {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(3, 1fr);
                gap: 1em;
                @media screen and (max-width: $break-point__tablet) {
                    // width: 100%;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3.1fr);
                    gap: 3rem;
                    .form-input {
                        width: 100%;
                    }
                }
            }
        }
        .form-block__agree {
            font-weight: bold;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            @media screen and (max-width: $break-point__tablet) {
                flex-direction: row;
            }
        }
    }
}

.slider {
    input {
        display: none;
    }
    div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }
    label:has(input:checked)+div {
        transition: max-height 1s ease-in-out;
        max-height: 1000px;
    }
}

#questions-and-answers__section,
#public-question__section {
    padding-bottom: 0;
    @media screen and (max-width: $break-point__tablet) {
        .section-content {
            padding: 0 1rem 1.5rem 0;
        }
    }
    .questions-and-answers__block {
        .question-answer {
            .question {
                font-size: 1.1rem;
                font-weight: 600;
                height: 6.5rem;
                border-top: 1px solid #dbdbdb;
                // border-bottom: 1px solid #dbdbdb;
                display: flex;
                align-items: center;
                justify-content: space-between;
                i {
                    font-size: $font-size_17;
                    margin-left: 1rem;
                }
                input:checked~i {
                    transform: rotate(180deg);
                }
            }
        }
        @media screen and (max-width: $break-point__tablet) {
            // important
            padding: 0;
            i {
                margin-left: 0.5rem;
            }
        }
    }
}