.modal {
  z-index: 100;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
.modal .modal-content {
  background-color: white;
}
.modal .modal-content img:first-of-type {
  cursor: pointer;
}

#modal--submitted .modal-content {
  width: 50vw;
  min-height: 50vh;
  max-height: 70vh;
  color: black;
  padding: 1rem;
  position: relative;
}
@media screen and (max-width: 925px) {
  #modal--submitted .modal-content {
    font-size: 24px;
    width: 80vw;
  }
}
@media screen and (max-width: 450px) {
  #modal--submitted .modal-content {
    width: 100vw;
  }
}
#modal--submitted .modal-content img:first-of-type {
  height: 29px;
  float: left;
  display: block;
}
#modal--submitted .modal-content img:nth-of-type(2) {
  height: 80px;
  filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(4826%) hue-rotate(112deg) brightness(98%) contrast(104%);
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}
#modal--submitted .modal-content h3 {
  font-size: 64px;
}
#modal--submitted .modal-content div.modal__text {
  font-size: 2.5rem;
}
@media screen and (max-width: 925px) {
  #modal--submitted .modal-content div.modal__text {
    font-size: 24px;
  }
}

#modal--accesability,
#modal--privacy {
  display: none;
}
#modal--accesability .modal-content,
#modal--privacy .modal-content {
  margin-right: 1rem;
  flex-shrink: 1;
  flex-basis: 800px;
  height: 95vh;
  overflow-y: scroll;
  padding: 1rem 0.5rem 4rem 0.5rem;
}
#modal--accesability .modal-content img,
#modal--privacy .modal-content img {
  margin-right: 0.5rem;
  height: 1rem;
  display: block;
}
#modal--accesability .modal-content h3,
#modal--privacy .modal-content h3 {
  font-size: 2rem;
  color: #213a7f;
  text-align: center;
  padding: 1rem;
}
#modal--accesability .modal-content h6,
#modal--privacy .modal-content h6 {
  font-size: 1.2rem;
  color: #213a7f;
}
#modal--accesability .modal-content div.modal__text,
#modal--privacy .modal-content div.modal__text {
  font-size: 0.9rem;
}

@media screen and (max-width: 925px) {
  #modal--form-popup {
    display: none;
  }
}
#modal--form-popup .modal-content::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 160%;
  top: -30%;
  left: -60%;
  z-index: -1;
  transform: rotate(35deg);
  background: url("https://www.hyperactive.co.il/static/media/modal-bg.76e0ddc9.jpg") no-repeat;
}
#modal--form-popup .modal-content {
  overflow: hidden;
  height: 600px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  padding: 3rem;
  background: transparent;
}
#modal--form-popup .modal-content h2 {
  color: #154b9c;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  margin: 4rem 2rem 1.5rem 3.5rem;
}
#modal--form-popup .modal-content img.close-modal {
  height: 2rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
#modal--form-popup .modal-content img.arrow-left {
  padding-top: 0.2em;
  height: 16.8px;
  filter: invert(100%);
}
#modal--form-popup .modal-content form {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#modal--form-popup .modal-content form .form-inputs {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
#modal--form-popup .modal-content form .form-inputs input {
  font-weight: bold;
  background-color: white;
  padding: 1rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#modal--form-popup .modal-content form .form-block__agree {
  margin: 0.5rem 0 1rem 0;
  color: #040ea3;
  gap: 1em;
  padding: 0;
  margin: 0;
}
#modal--form-popup .modal-content form button {
  border: none;
  outline: none;
  padding: 0.5em 3em;
  background: #154b9c;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
