nav .nav-container .nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hamburger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.75rem;
}
@media screen and (min-width: 925px) {
  .hamburger-icon {
    display: none;
  }
}
.hamburger-icon .hamburger-btn {
  height: 2rem;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50%;
  gap: 0.5rem;
  box-sizing: border-box;
  transition: transform 0.1s;
  position: relative;
}
.hamburger-icon .hamburger-btn div:first-of-type {
  top: 0;
  transition: transform 0.3s ease-in;
}
.hamburger-icon .hamburger-btn div:last-of-type {
  bottom: 0;
  transition: transform 0.3s ease-in;
}
.hamburger-icon .hamburger-btn div:nth-of-type(2) {
  top: 44%;
  transition: opacity 0.3s linear, transform 0.3s;
}
.hamburger-icon .hamburger-btn div {
  position: absolute;
  height: 5px;
  border-radius: 3px;
  width: 100%;
}
.hamburger-icon .hamburger-btn input {
  display: none;
}
.hamburger-icon .hamburger-btn input:checked ~ div:nth-of-type(3) {
  transform: rotate(-45deg) translate(50%);
}
.hamburger-icon .hamburger-btn input:checked ~ div:nth-of-type(1) {
  transform: rotate(45deg) translate(50%, -30%);
}
.hamburger-icon .hamburger-btn input:checked ~ div:nth-of-type(2) {
  transform: translateX(50%);
  opacity: 0;
}

.mobile-nav:has(input:checked) + .nav-links-container {
  max-height: 1000px;
}

nav {
  z-index: 50;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
}
nav .hamburger-icon {
  display: none;
}
nav .nav-container {
  display: flex;
  margin: auto;
  width: fit-content;
}
nav .nav-container .nav-links-container {
  position: relative;
  flex-wrap: nowrap;
}
nav .nav-container .nav-links-container .nav-link#home-link {
  display: none;
  order: -1;
}
nav .nav-container .nav-links-container .nav-link {
  padding: 0.25rem 0.5rem;
  border-left: 2px solid black;
  white-space: nowrap;
}
nav .nav-container .nav-links-container .nav-link:last-of-type {
  border-left: none;
  padding-left: 0;
}
nav .nav-container .nav-links-container .nav-link:first-of-type input {
  display: none;
}
nav .nav-container .nav-links-container .nav-link:first-of-type img {
  height: 0.6rem;
}
nav .nav-container .nav-links-container .nav-link:first-of-type:has(input:checked) + .inner-nav {
  display: flex;
}
@media screen and (max-width: 925px) {
  nav {
    position: static;
  }
  nav .mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav .mobile-nav .logo-container {
    margin-right: 0;
  }
  nav .mobile-nav .logo-container img {
    height: 4rem;
  }
  nav .mobile-nav .hamburger-icon {
    display: flex;
  }
  nav .nav-container {
    flex-direction: column;
    width: 100%;
  }
  nav .nav-container .nav-links-container {
    overflow: hidden;
    max-height: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 100%;
  }
  nav .nav-container .nav-links-container .nav-link {
    border-left: none;
    padding: 1rem;
  }
  nav .nav-container .nav-links-container .nav-link#home-link {
    display: block;
  }
  nav .nav-container .nav-links-container .nav-link:first-of-type:has(input:checked) + .inner-nav {
    position: static;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  nav .nav-container .nav-links-container .nav-link:first-of-type:has(input:checked) + .inner-nav a {
    border-bottom: 1px dashed #aad6be;
    padding: 0.5rem;
  }
}
nav .inner-nav {
  display: none;
  height: fit-content;
  width: 100%;
  position: absolute;
  margin-top: 1rem;
  top: 2rem;
  flex-direction: column;
  right: 0;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 925px) {
  nav .nav-link:hover {
    font-weight: bold;
  }
  nav .nav-link:hover a {
    color: #213b7f;
  }
  nav .inner-nav:hover {
    display: flex;
  }
  nav .nav-link:first-of-type:hover + .inner-nav {
    display: flex;
  }
  nav .inner-nav a {
    width: fit-content;
  }
  nav .inner-nav a:hover {
    color: #213a7f;
    background-color: white;
  }
}
nav .logo-container {
  margin-right: -1.3rem;
  position: relative;
}
nav .logo-container img {
  height: 4.4rem;
}
nav .logo-container .nav-subtitle {
  position: absolute;
  bottom: 0.95rem;
  right: 1.1rem;
}
